[2016-06-06 14:02] tuxfight3r opened #3 "Module doesn't have a clean way to configure sysklogd options for client configuration"
At the moment the only way to have client side sysklogd options is to  write as a custom config like below. it would be handy to pass sysklogd options as well as a list, as a lot of old configuration uses that format.
[code]

[2016-06-15 13:00] tuxfight3r commented on #3
This pull request https://github.com/crayfishx/puppet-rsyslog/pull/4 provides this feature.

[2016-06-15 13:00] #3 closed

[2016-06-24 08:50] tuxfight3r opened #7 "Unable to provide options along with the load module"
Unable to provide additional options along with the load module
[code]

[2016-06-24 08:50] tuxfight3r commented on #7
This pull request will facilitate that option.

https://github.com/crayfishx/puppet-rsyslog/pull/6

[2016-06-24 14:19] tuxfight3r opened #8 "actions component should have the option to specify logger facitility"
action should have the option to specify the optional logger facility to support the rainerscript format.
[code]

[2016-06-27 10:35] tuxfight3r commented on #8
This pull request https://github.com/crayfishx/puppet-rsyslog/pull/9 would facilitate that feature.

[2016-06-28 15:18] tuxfight3r opened #11 "Global Hash creates multiple global tags in the config"
Rather than passing all the values in the global hash inside the global tag it creates a global tag per entry in the syslog config file.
[code]
the above code produces content like below
[code]
but it should be like this
[code]

[2016-06-29 06:47] crayfishx commented on #11
I agree this is aesthetically nicer and we should do it, but to be clear, these two examples are functionality wise identical no?

[2016-06-29 09:34] tuxfight3r commented on #11
when I tested with either in one global block or multiple global block, syntax wise I didn't see any issues and rsyslog syntax check passes fine. Grouping all the global directives under one block is something I've seen it in multiple places for example: look at the bottom of the rsyslog mailing list thread http://lists.adiscon.net/pipermail/rsyslog/2015-August/041050.html My understanding is all

[2016-07-01 14:29] tuxfight3r commented on #11
This pull request https://github.com/crayfishx/puppet-rsyslog/pull/13 should fix this issue

[2016-07-25 09:28] #11 closed

[2016-07-25 09:28] #8 closed

[2016-07-25 09:29] #7 closed

[2017-08-09 19:21] dhollinger opened #15 "support rsyslog 8 lookup tables"
Add support for Rsyslog 8 Lookup Tables feature:

http://www.rsyslog.com/doc/v8-stable/configuration/lookup_tables.html

[2017-08-14 21:45] dhollinger opened #17 "Add the ability to disable management of the service"
Just as with the rsyslog packages, there are times where managing the service is not desirable. Need to add a parameter that allows the user to disable service management.

[2017-08-23 18:13] dhollinger opened #19 "`target` key doesn't work in component hashes"
The `target` key in a component hash (templates, actions, modules, etc) doesn't properly work when overridden.

#### If target is not supposed to be configurable at the component level
No error message is displayed, the component defined in the hash simple doesn't get created due to the lack of a parent `concat` resource that matches the `concat::fragment`'s target attribute.

#### If target is su

[2017-08-28 18:55] dhollinger opened #21 "Support parser configuration option"
Support the rsyslog `parser()` configuration parameter.

See http://www.rsyslog.com/doc/master/configuration/parser.html

[2017-08-28 19:05] dhollinger opened #22 "Support Rulesets"
Support rsyslog Ruleset generation.

see http://www.rsyslog.com/doc/v8-stable/concepts/multi_ruleset.html

[2017-08-29 14:12] dhollinger commented on #19
fixed in #20

[2017-08-29 14:12] #19 closed

[2017-08-29 14:12] dhollinger commented on #17
added in #20

[2017-08-29 14:12] #17 closed

[2017-08-29 14:12] dhollinger commented on #15
Added in #20

[2017-08-29 14:12] #15 closed

[2017-09-07 16:46] #21 closed

[2017-09-07 16:58] #22 closed

[2017-10-31 14:21] dhollinger opened #30 "Support Filters"
For lookup tables to be useful, rulesets and global config needs to support if/else statements.

[2017-11-20 22:43] dhollinger opened #32 "Refactor Rulesets and Filters"
Nearly every setting available inside of a ruleset is also available at the parent config level.

Rulesets should be refactored to enable the support of the following configuration options at the parent/top level base config:

* Filters
* Calls
* Sets
* Stops

Additionally, Rulesets and Filters should reuse code/templates for existing configuration options rather than duplicate code in the templat

[2017-12-06 22:48] #30 closed

[2017-12-16 06:56] dhollinger commented on #32
Step one complete with PR #39

[2017-12-18 22:50] dhollinger opened #41 "Add acceptance test config and helpers"
This module is missing beaker tests. They should be added ASAP to improve the reliability of the module.

[2017-12-18 22:51] dhollinger opened #42 "Add OS Compatibility matrix"
The `metadata.json` is missing an OS compatibility matrix. This should be added.

[2017-12-18 23:11] #32 closed

[2017-12-19 04:43] #42 closed

[2017-12-19 04:43] #41 closed

[2017-12-19 15:03] dhollinger opened #43 "Add acceptance tests"
The module needs acceptance tests

[2017-12-19 23:08] jorhett opened #45 "Document ordering / sort algorithm"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.3
- Ruby: 2.4
- Distribution: ?
- Module version:

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

These rules are places in the rsyslog file after global definitions (priority 10) but before templates, config, etc (20, 30...) To get it to sort properly I have had to use the following:

[code

[2017-12-28 18:28] dhollinger commented on #45
@jorhett The documentation makes no mention of sort ordering because it's simply using the `order` attribute from `puppetlabs-concat` where such functionality is already documented. Perhaps that should be noted within the README (Which I have no problem with).

However, if the ordering isn't working as expected that could be an issue related to `puppetlabs-concat` rather than `puppet-rsyslog`.

I

[2018-01-04 13:26] Trillon008 opened #47 "Dependency circle with action class"
Hi

I believe I tried the most basic setup of this module but everytime I call rsyslog::client::actions I have a dependency circle.

I have these two piece of code:
#### profile.pp
`class { 'rsyslog::client': }
`
#### common.yaml
[code]

[2018-01-04 17:36] #43 closed

[2018-01-05 06:16] dhollinger commented on #47
@Trillon008 Thanks for the report. Unfortunately, I am unable to reproduce your issue.

Could we get more information?

What Puppet, Ruby, and Module Version(s) are you on?
FOSS or PE?
Installed puppet-rsyslog via git, r10k, or `puppet module install`?
Linux Distribution?

[2018-01-05 06:41] dhollinger commented on #45
@jorhett Looks like this is tied to how [puppetlabs-concat](https://github.com/puppetlabs/puppetlabs-concat) either functions or is a bug in that module. After some testing I get the same results when using the `concat` and `concat::fragment` defined types by themselves.

I will update the documentation to note what I've found and will close this issue when that has been fixed. However, it does ap

[2018-01-05 09:10] Trillon008 commented on #47
Puppet Enterprise: 2017.2
Ruby : 2.1.9p490
module version: 2.1.0
installed with r10k

Servers are on CentOS 7.4 and i can reproduce on the 3 servers I tested.  From PE graph view it doesn't seem there is a dependency which can cause this. I will try to run more test on my own.

[2018-01-05 09:18] #47 closed

[2018-01-05 12:33] #45 closed

[2018-01-05 13:58] dhollinger commented on #47
I'll play with the concat module versions and make sure we update the metadata.json to match the working concat versions

[2018-01-05 14:05] dhollinger commented on #45
@jorhett I stand corrected in my last comment. There is a parameter for the `concat` defined type that determines how the `concat::fragment`'s `order` parameter functions.

[2018-02-09 13:23] ayushmittal opened #58 "Rulesets not supported in client.pp"
Hey,

Is there any reason for not supporting rulesets in client.pp? It seems to be supported only in server.pp

[2018-02-09 22:32] sean-ellicott opened #59 "facility not present in out put of rulsets when using - action"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: puppet/rsyslog
- Module version: 2.3.0

## What are you seeing

Facility not presented when using

rsyslog::rulesets_defaults:
  local_rules:
    parameters:
      queue.size: '1000'
      queue.type: LinkedList
    rules:
      - action:
          facility: '*.*;auth,authpriv.none'
          name: cron_logs
          type:

[2018-02-22 22:16] dhollinger commented on #59
Confirmed bug. I'll work on it over the next couple days.

[2018-02-22 22:17] dhollinger commented on #58
The only reason it's not supported client side is that it hasn't been built for the client side. When I added rulesets to the module, the only use case I'd seen is server side. Other than that, there's no reason to not support it client side.

[2018-02-24 18:40] #59 closed

[2018-02-24 18:40] dhollinger commented on #59
Fixed in #61

[2018-02-28 12:46] linuxdan opened #64 "No clue how to configure a client with this module"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:  PE 2017.2.1
- Ruby:  2.1.9p490 (from pe-agent)
- Distribution: RHEL 7.4
- Module version:  2.3.1

## How to reproduce (e.g Puppet code you use)
class { 'rsyslog::client': }
## What are you seeing
/etc/rsyslog.d/00_client.conf
and I cannot figure out how it was generated or how to modify it to do something simple like specif

[2018-02-28 13:00] linuxdan commented on #64
UPDATE: I discovered I had 2 rsyslog lines in my Puppetfile - the second for saz/rsyslog - and that was where /etc/rsyslog.d/00_client.conf was coming from.

With puppet/rsyslog in place,  /etc/rsyslog.conf just has the IncludeConfig line and /etc/rsyslog.d/ is empty.
So my original question stands: How do I configure the rsyslog-client ?

[2018-02-28 16:43] dhollinger commented on #64
@linuxdan Currently there are no default configs applied to client or server. So simply including `class { 'rsyslog::client': }` won't actually apply anything but an empty config.

You need to specify the configuration you need:

[code]

Will generate:

[code]

The above is based on the default CentOS 7 rsyslog.conf file, though this will be saved to a `/etc/rsyslog.d/50_default.conf` file instead

[2018-02-28 17:27] linuxdan commented on #64
Can this be accomplished in Heira files ?

[2018-02-28 17:29] linuxdan commented on #64
RHEL 7's default rsyslog is no problem
For RHEL 6, if the package name used is "rsyslog7", you might be able to eliminate the legacy stuff

[2018-02-28 18:39] dhollinger commented on #64
There are examples using Hiera in the README for each config type:

[Global Config example](https://github.com/voxpupuli/puppet-rsyslog/blob/master/README.md#rsyslogserverglobal_config-rsyslogclientglobal_config)

[2018-02-28 18:43] linuxdan commented on #64
OK.
I am setting up a catalog for RHEL 6 and 7.
I want to avoid "legacy"
I would be happy to contribute some RHEL-default settings to the effort

[2018-02-28 19:11] dhollinger commented on #64
I don't think we'll be able to avoid "legacy" 100% as there are some settings in Rsyslog that haven't been migrated over to rainerscript yet.

[2018-03-11 19:19] dhollinger opened #65 "Filters require a unique name when used in rulesets."
The templates for both Property and Expression filters require a unique name, even when used within a ruleset.

That makes sense when creating a Property Filter or Expression Filter Resource, but it doesn't make any sense when the filter is part of a Ruleset resource.

[2018-03-11 20:57] #65 closed

[2018-04-15 05:47] dhollinger commented on #58
This ticket hasn't been active in quite a while. Marking it as wont-fix and will close if no additional activity is posted.

[2018-05-17 15:44] itbane opened #80 "Add '^' (execute program) rsyslog feature to ruleset tasks"
Hi,
this is feature request to support the use of the "execute program" rsyslog feature, which is an alternative to the omprog output module.

While the omprog output module is great for programs which read from STDIN, it's not usable for software that relies on the log message being sent as an argument.

Outside of rulesets, the feature can be already used with this module via the $custom_config

[2018-05-21 15:28] bastelfreak opened #84 "check fedora support"
this module once listed fedora in the metadata.json. We removed it because all listed versions are EOL. We need to check if recent fedora versions work and add them back.

[2018-06-15 19:09] linuxphone opened #88 "How do we configure this module for someone new to puppet"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: Puppet 5.5
- Ruby:
- Distribution: RedHat Eterprise Linux 6,7
- Module version:

## How to reproduce (e.g Puppet code you use)

## What are you seeing

## What behaviour did you expect instead

## Output log

## Any additional information you'd like to impart

[2018-07-17 04:04] dhollinger commented on #88
@linuxphone I'm currently working on, well, reworking this module to be compatible with modern systems. I've had issues with some of the resources not working in new(ish) linux distributions, such as EL7 and Ubuntu 18.04.

[2018-07-25 18:45] vidkun commented on #88
Good question.
I've been fighting to get it to configure a simple udp listener to dump remote logs into files by ip. Even with the new "simpler" Rainerscript format, the manual implementation is rather straightforward and easy.

Yet I still can't figure out how to make this module do it.

[2018-08-17 14:24] hdep opened #92 "/etc/rsyslog.d/50_rsyslog.conf doesn't have a puppet header"
Hello,

I played a bit with your module.
I just notice that the file generated by the module : /etc/rsyslog.d/50_rsyslog.conf does have a header like :

`# FILE Managed by puppet`

I think this would be great to have this information.

What do you think ?

[2018-08-25 19:21] juju4 opened #93 "Error: Evaluation Error: Resource type not found: PrivDropToUser (file: /tmp/kitchen/manifests/site.pp, line: 141, column: 9) on node 21a40dd4ec00"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.1
- Ruby: 2.4.1p1
- Distribution: Centos/Ubuntu
- Module version: latest

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

above message

## What behaviour did you expect instead

rsyslog should be configured with given unprivileged user.
On Debian/Ubuntu, it's the default

## Output log

(c

[2018-08-30 17:46] dhollinger commented on #93
If you are defining that within Puppet code itself, those all have to be strings:

[code]

As those values are not native resources or defined parameters, Puppet is going to error trying to look them up in the catalog. Instead those are values fed to the global_config.epp template and a file is generated from that.

Try replacing your above code with the sample I provided here.

[2018-08-30 17:49] dhollinger commented on #92
Having a puppet header is important, I just haven't found a good way to do it. Unlike most template-based config files, the `50_rsyslog.conf` file is actually built from several puppet templates and a single template may be called during a run multiple times, thus placing that header into the file multiple times.

Any suggestions or PRs welcome. There probably needs to be some parsing added to che

[2018-08-30 17:50] dhollinger commented on #88
Are there specific examples of what you are looking for? The readme docs are pretty straightforward, but do assume that you are familiar with Puppet, Hiera, and Rsyslog 8+.

[2018-08-30 17:51] dhollinger commented on #80
Added in #81

[2018-08-30 17:51] #80 closed

[2018-08-30 17:52] #64 closed

[2018-08-30 17:52] #58 closed

[2018-09-01 10:07] hdep commented on #88
I did have some trouble too.
I reproduce the default debian 9 configuration with Hiera, maybe I can PR in order to add it to the folder examples ?

[2018-09-01 10:10] hdep commented on #92
Thank you for your feedback.
I'll try to PR, but not sure I can make it.
The code is more complicated than I am use to.

[2018-09-01 13:27] juju4 commented on #93
Cool. Thanks!
Confusing that some parameters work without quotes and some don't.

[2018-09-01 13:27] #93 closed

[2018-09-01 13:39] juju4 opened #95 "warning with recent puppet"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: puppet-agent_5.5.1-1wheezy_amd64.deb from http://apt.puppetlabs.com/puppet5-release-wheezy.deb
- Ruby: from kitchen-test
- Distribution: ubuntu 18.04, 16.04, centos7
- Module version: latest from forge

## How to reproduce (e.g Puppet code you use)

https://github.com/juju4/puppet-meta-harden-linux/blob/devel/manifests/site.

[2018-09-04 18:19] dhollinger commented on #93
That's because:

1. The documentation was built assuming the user was using hiera 4 or hiera 5, hence the YAML format.
2. Most of the parameters in this module are nested Hashes, meaning only the parameter itself is recognized as a puppet parameter.

I'm planning to add Puppet Strings documentation with parameter docs, I just haven't had time yet.

[2018-09-04 18:26] dhollinger commented on #88
The key is that the module does assume that the user is quite familiar with Rsyslog 8.x configuration. Both the rainerscript format and the legacy format.

We do offer a hash called `custom_config` that allows you to pass a straight string into the template and generate config that way. It was put in to cover use-cases that don't fit what the code currently supports.

[2018-09-04 20:04] hdep commented on #88
yeah I am not familier with rainerscript format because by default debian uses what you call legacy format.
To be honest I expect when I use a puppet module from scratch to reproduce the default configuration as the one from the package this avoid confusion imho.

[2018-09-04 21:04] vidkun commented on #88
Same here. Limited exposure to rainerscript and as of 7.4, RHEL is still using "legacy" format.
I'd expect module documentation to at least describe how to recreate the default config.

[2018-09-04 22:14] #88 closed

[2018-09-07 14:14] linuxdan opened #98 "Module does not work on RHEL 7"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:  5.5.6 (PE 2018.1.4)
- Module version: 3.2.0

## How to reproduce (e.g Puppet code you use)
Node YAML file:
rsyslog::client::modules:
  imuxsock: {}
  imjournal: {}
rsyslog::client::global_config:
  'WorkDirectory':
    value: '/var/lib/rsyslog'
    type: 'legacy'
  'IncludeConfig':
    value: '/etc/rsyslog.d/*.conf'
    typ

[2018-09-08 08:36] ggeldenhuis commented on #95
@dhollinger  It might be worthwhile to also bump the version of puppetlabs-concat since it has reached 5.0.0 and the module requires a version smaller than that.

[2018-09-18 04:28] dhollinger commented on #98
By default this module places all config in a file called `/etc/rsyslog.d/50_rsyslog.conf` (See: https://github.com/voxpupuli/puppet-rsyslog#config-file), have you checked for that file?

This was done as this module is used across a variety of distros and use cases (including managing a config file mounted as a volume into an Rsyslog docker container). While making this an option was considered,

[2018-09-18 04:30] dhollinger commented on #95
@ggeldenhuis We have already bumped the version of concat up.

[2018-09-21 16:19] dhollinger commented on #84
resolved in #99

[2018-09-21 16:19] #84 closed

[2018-09-29 12:40] juju4 opened #102 "imfile to send apache logs to remote syslog not working"
Trying to configure rsyslog to forward to remote syslog, apache logs from file
rsyslog doc from https://www.rsyslog.com/doc/v8-stable/configuration/modules/imfile.html

but it seems most of imfile options are not recognized and no example is provided in forge readme

Only imfile reference that I found in puppet module is in acceptance test
https://github.com/voxpupuli/puppet-rsyslog/blob/4896d5d5a

[2018-10-02 11:45] itbane commented on #102
Could you remove the other content from your site.pp and run the code again? The error message references line 243. With the snippet you pasted, we can't see if the error even happens here.

We do the same thing within our environment, but configure from hiera (working):

rsyslog::server::inputs:
  imfile_apache_error:
    priority: 21
    confdir: '/etc/rsyslog.d/'
    target: '21-apache-inputs.c

[2018-10-02 22:13] dhollinger commented on #102
@juju4 As of now anything inside of the top level parameter name _must be quoted_. When you leave them unquoted, puppet thinks those are native types, when in reality it's just a nested Puppet Hash that is read in by a defined type, formatted with a template and added to the configuration file.

It's really, really important to note that YAML files usually don't require that strings be wrapped in

[2018-10-06 21:55] juju4 commented on #102
Thanks @itbane @dhollinger for the useful feedback.
I managed to fix my configuration. And not hiera because simple travis puppet apply for my testing.

[2018-10-06 21:55] #102 closed

[2018-11-26 22:01] dhollinger commented on #98
@linuxdan any updates on this issue?

[2018-11-26 22:40] dhollinger commented on #98
I will leave it open then

[2019-01-23 15:52] tskirvin opened #109 "rsyslog::snippet?"
This is more of a feature request.  saz/rsyslog has been deprecated, and he's pointing at this module as a replacement.  One piece of saz/rsyslog that I was quite fond of was 'rsyslog::snippet', which was a simple way to create an rsyslog.d file without any further configuration, e.g.:

    $log = '/var/log'
    rsyslog::snippet { '00-puppet':
      content => "if \$programname == 'puppet-agent' t

[2019-02-08 05:11] synaptis opened #110 "Question: How to add stop directive to an action?"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5
- Distribution: CentOS 7
- Module version: 3.3.0

## How to reproduce (e.g Puppet code you use)

I am attempting to re-create the following legacy config via this module:
[code]
The rainerscript equivalent should look like this:
[code]

I think this hiera configuration is almost there:
[code]

How can I add the 'stop' dire

[2019-02-12 06:44] dhollinger commented on #109
We can look into the viability, however this module's primary target rsyslog version is Rsyslog 8.x and greater and as such we can't break that functionality.

Additionally, https://forge.puppet.com/saz/rsyslog should no longer be deprecated on the forge.

[2019-02-12 06:50] dhollinger commented on #110
Currently we don't have any way to add that outside of the `custom_config`. In fact, I didn't know that was possible as my experience with rsyslog always had us discarding (`stop`) as part of a custom ruleset.

It shouldn't be too difficult to add. I'll look into it

[2019-02-13 05:23] dhollinger commented on #110
@synaptis I did some research and adding support for what you want will work and is fairly simple, however if I place the option in there and it is activated, placing the `stop` after the action args AND the action is **not** the **final** config in the file (AKA default ruleset), you **will** see this error:

[code]

As such, I will probably refrain from adding this functionality and direct you t

[2019-02-13 06:31] dhollinger commented on #110
@synaptis I should probably give an example of what my suggestion looks like:

[code]

[2019-02-14 14:48] christopher-b opened #112 "Ruleset expression filter: problem with documention"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.2.0
- Ruby: 2.5.3
- Distribution: Ubuntu 16.04
- Module version: 3.3.0

## How to reproduce (e.g Puppet code you use)
Straight from the documentation for ruleset expression filters:
[code]

## What are you seeing
An error message.

## What behaviour did you expect instead
No error :)

## Output log
[code]

## Any additiona

[2019-02-20 00:46] synaptis commented on #110
@dhollinger Thanks for looking into this. I'll admit that my knowledge of syslog has been challenged and improved by implementing this module so the config I was trying to use may not have been optimal although it was working for us. I agree that introducing features that can easily cause errors is not a good idea.

Cheers also for your suggested config, I had worked around the problem using the c

[2019-02-23 19:14] dhollinger commented on #112
Confirmed. Intended to have been fixed a long time ago, I wonder how that ball got dropped. I'll work on a PR today or tonight.

[2019-02-23 19:15] #110 closed

[2019-02-23 19:46] #112 closed

[2019-02-23 21:59] dhollinger commented on #112
@christopher-b - this should be fixed on the Github README.md

The fix won't show up on the Forge README until the next release

[2019-04-20 19:35] dhollinger commented on #98
@linuxdan Any updates? Are you still seeing this issue?

[2019-04-22 13:46] linuxdan commented on #98
Brand new CentOS 7 server, loaded with PuppetServer 6.3.0 and Puppet Agent 6.4.1
(Latest / greatest on https://yum.puppet.com/puppet6/el/7/x86_64/ )
and v3.3.0 of this module.

All I have in the common.yaml is

classes:
- rsyslog::client

Running puppet agent still wipes out the contents of /etc/rsyslog.d and /etc/rsyslog.conf and inserts nothing.
The file that is deleted - /etc/rsyslog.d/listen.c

[2019-05-06 09:42] hdep opened #117 "How to use conditions ?"
Hi,

for my central syslog server I need to add some logic to send clients logs into a specific file, and to send system logs into classic path.

I found a way to do this with rsyslog syntax :

[code]

The issue is I don't have any idea on how to do this with the module.
Any idea ?

[2019-06-14 06:02] dhollinger commented on #98
@linuxdan The docs need some updating to make this clear, but by default the module will manage and replace the `/etc/rsyslog.conf` file and clear the `/etc/rsyslog.d` directory:

defaults: https://github.com/voxpupuli/puppet-rsyslog/blob/master/data/common.yaml#L8-L9
config dir code: https://github.com/voxpupuli/puppet-rsyslog/blob/master/manifests/base.pp#L47-L55
config file (and one more config

[2019-06-14 06:14] dhollinger commented on #117
@hdep Sorry for the delay in replying, I haven't had time to look at issues lately. Unfortunately, at this time we don't support what the Rsyslog (and module params) call "Legacy config" within our conditional expression component. You'd need to use the `rsyslog::server::custom_config` parameter.

[code]

[2019-06-14 07:52] hdep commented on #117
Hi @dhollinger,

thank you for the feedback !

I manage to do like this :

[code]
this code on the rsyslog server will store remote logs into remote template.

[2019-06-14 07:52] #117 closed

[2019-06-15 01:37] alexseys opened #121 "configuration for mysql"
A configuration question:
Are there examples of hiera configuration to push all incoming logs to mysql database Loganalyzer consumption?

Thank you

[2019-06-17 06:56] christazelaar commented on #109
The feature in saz/rsyslog literally just wraps a file resource that places the content specified in the correct place. Super simple.

See: https://github.com/saz/puppet-rsyslog/blob/master/manifests/snippet.pp

We want this feature because we have a use case where other modules want to add rsyslog config directly - i.e. the config is tied to the module, not the hiera data. Maybe not best practice

[2019-06-18 01:30] christazelaar opened #122 "Client server split imposes unnecessary restrictions"
We recently switched over to this module from saz/rsyslog (while it was marked as deprecated) and ran into an issue.

To avoid confusion - i will call physical servers "machines" so we can use "client" and "server" only to refer to the module usage.

Our use case is that we have multiple data centers, and in each one we have a couple of machines that (among other things) collect all the logs from

[2019-07-23 14:36] fraenki commented on #98
@dhollinger Would you agree to add some typical default values to the module data? I'd be able to provide defaults for Redhat and Debian. This would ensure that the module would leave a system's log service in a working condition.

[2019-08-25 14:03] dhollinger commented on #121
We don't have anything for that now. Hopefully we'll have that after work is completed on the data type aliases.

Until then, the best thing to do would be to look at the Server/Client [actions](https://github.com/voxpupuli/puppet-rsyslog#rsyslogserveractions-rsyslogclientactions) docs in the module README and the [ommysql](https://www.rsyslog.com/doc/v8-stable/configuration/modules/ommysql.html)

[2019-08-25 14:10] dhollinger commented on #109
@christazelaar Unfortunately, unless more users request this feature, it will probably not come to fruition. The option to purge or not purge `/etc/rsyslog.d` is there specifically for your use case (as is custom config). The purpose of this module was to provide support for rsyslog >= 7/8, specifically rainerscript, which saz/rsyslog doesn't easily support.

I will leave this open for comment, bu

[2019-08-25 14:16] dhollinger commented on #122
I can look into removing the client/server split. It was already there when we inherited the module.

The way I had been using it before we took over maintenance was that if a _machine_ was functioning as an rsyslog server, then all that machine's rsyslog config is configured as a server. The client side was for _machines_ that are purely operating as clients and not ever as servers.

That said, t

[2019-08-25 14:30] dhollinger commented on #98
I'd be up for defaults for OS-types, though it'd probably be best to keep it to the OS defaults and it'd have to be in the `data/` directory.

[2019-08-25 14:40] dhollinger commented on #92
This is stale. Going to close and revisit later

[2019-08-25 14:40] #92 closed

[2019-08-26 13:23] tskirvin commented on #109
What would you need for me to write the patch for you?  I was mostly concerned that there were designer philosophical objections to the idea.

[2019-09-13 07:49] negast opened #127 "Cyclic dependency"
Hello
 I'm getting cyclic dependency issues when doing a new install (RHEL7).

I copied the yaml file from the example:
[code]

In my profiles I included the following

[code]

When running on the node It gave me the  following:
[code]

Here is the .dot file content
[code]

I fixed this by removing the before statement from the component/module.pp file
**/rsyslog/manifests/component/module.pp line

[2019-10-18 05:58] dhollinger commented on #127
Going to take a deeper look at this and ensure this isn't a larger issue. What version of puppet are you on?

[2019-10-18 06:10] negast commented on #127
I'm running version 5.5.1

[2019-10-18 19:49] riches-cg opened #131 "puppet-rsyslog won't install on Puppet Open Source 6"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:
puppet6-release-6.0.0-5.el7.noarch
puppetserver-6.5.0-1.el7.noarch
puppet-agent-6.8.1-1.el7.x86_64

- Ruby:
default included in Puppet 6

- Distribution:
CentOS Linux release 7.6.1810 (Core)

- Module version:
3.3.0

## How to reproduce (e.g Puppet code you use)
puppet module install puppet-rsyslog --version 3.3.0

## What a

[2019-11-07 09:08] negast commented on #127
I have the same issue on costum config
 rsyslog::generate_concat { "rsyslog::concat::custom_config::${name}":
    confdir => $confdir,
    target  => $target,
   # before  => Concat::Fragment["rsyslog::component::custom_config::${name}"],
  }

[2019-11-14 21:29] dhollinger commented on #131
This issue is fixed in puppet-rsyslog >= 4.0.0

Unfortunately, we generally don't backport fixes into old versions

[2019-11-14 21:29] #131 closed

[2019-12-05 19:29] DDEFISHER opened #138 "No way to not use hiera and how to create a separate configuration file per service?"
This is not a bug but a general design question of the module so I left out the issue template.

It is not clear how or if I can 1) create a separate configuration file per service 2) not use hiera.

I would like to be able to not use hiera to declare classes if possible. This seems to be an issue because there is only one public class to be used which is rsyslog::client::global_config. I could us

[2019-12-09 19:29] dhollinger commented on #127
I have been unable to reproduce the issue in any environment.

[2019-12-09 23:30] dhollinger commented on #122
fixed by #136

[2019-12-09 23:30] #122 closed

[2019-12-09 23:35] dhollinger commented on #138
`rsyslog::client::global_config` isn't a class though, it's a parameter in the `rsyslog::client` class. In reality, to do what you want, you'd need to utilize the `rsyslog::component::global_config` defined type to add your config the way you want, but you'd need to manage how to include the base rsyslog classes as those defined types don't currently include those.

It's also important to note tha

[2019-12-10 15:33] DDEFISHER commented on #138
Ah right sorry about that my examples should have been something like this.

[code]

[2019-12-12 06:50] negast commented on #127
It seems It was due to an out of date concat and stdlib combo. After I also upgraded those I got an error related to this ticket: https://tickets.puppetlabs.com/browse/MODULES-5802
which I resolved by doing the generate types command: https://puppet.com/docs/puppet/6.10/environment_isolation.html

I'll close this then as it is no longer an issue. Thank you for the help.

[2019-12-12 06:50] #127 closed

[2019-12-31 15:01] linuxdan commented on #98
Hey, folks.  I finally had time to revisit this.  It works for me now mostly thanks to the `examples/common.yaml` file.

So, here is the default `/etc/rsyslog.conf` for rsyslog-8.24.0-41.el7_7.2.x86_64
I trimmed out much of the descriptive comments and uncommented the forwarding rules:

[code]
and `/etc/rsyslog.d/listen.conf` :
[code]
Here is the initial YAML file I worked out from looking at the

[2020-01-17 07:34] amateo opened #141 "Documentation/comments at init.pp is wrong"
The documentation included at the header or init.pp file is wrong. It seems to be from a template or ntp module.

[2020-01-17 07:35] amateo commented on #141
Sorry. In the latest version at forge is still wrong, but I can see it has been fixed in git.

[2020-01-17 07:35] #141 closed

[2020-01-17 08:05] amateo commented on #109
I vote for this enhancement proposal (I'm moving from saz/rsyslog too).
Configuration options are not always available at hiera level, but in my role&profile structure I have syslog options configuring from profiles.
Using a `file` resource is not an option, because of the order (how can I create a rule with a file between other two rules created from config?).
I think I that directly using `rsysl

[2020-01-18 23:06] #138 closed

[2020-02-13 22:22] AlexSamad opened #147 "Non yaml examples please"
Better examples not using yaml
I'm new to puppet and it looks like a really thought out module
but the examples are all yaml based.

would be great to have examples using puppet code.

[2020-04-09 14:25] jdwhited opened #150 "Cannot set syslog conf file and directory permissions"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:  agent 6.4.3  (Puppet Enterprise 2019.1)
- Ruby:
- Distribution:  RHEL 7,8
- Module version:  4.0.0 (appears to be an issue in 5.0.0 as well)

## How to reproduce (e.g Puppet code you use)
include rsyslog::client

## What are you seeing
/etc/rsyslog.conf, /etc/rsyslog.d, /etc/rsyslog.d permissions cannot be set
We use 0600 o

[2020-05-05 08:47] alexjfisher opened #153 "Release summary for 5.0.1"
v5.0.0 was never released to the forge due to an issue with the release process. v5.0.1 contains no functional changes.

[2020-05-05 08:47] #153 closed

[2020-05-06 14:48] decibelhertz opened #154 "rsyslog::base does not restart service"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.19
- Ruby: 2.4.9
- Distribution: CentOS 7
- Module version: 5.0.0

## How to reproduce (e.g Puppet code you use)

populate the `rsyslog::feature_packages` variable after managing rsyslog service with this module

## What are you seeing

When I populate the `rsyslog::feature_packages` variable, it does not restart the (ma

[2020-05-17 14:12] vchepkov commented on #98
Module doesn't work RHEL8 either. It wipes out existing configuration without providing any sensible defaults, same as RHEL7. That's not a normal behavior for a puppet module

[2020-05-18 21:29] dhollinger commented on #109
Feel free to contribute a PR for this change if you need it. I can definitely say we'll review it and give feedback if necessary.

[2020-05-18 21:33] dhollinger commented on #98
@vchepkov I don't generally work within RHEl7 or RHEL8 anymore, so I'd love it if someone could contribute some default configurations for each OS. I'd do it, but I currently don't have time to spin up a container or VM of every OS and transcribe the defaults to the module.

[2020-05-18 21:40] dhollinger commented on #150
I will look at making the conf file permissions configurable via an init.pp parameter.

[2020-05-18 22:28] vchepkov commented on #98
From what I can see from the code, module doesn't set any sensible defaults for any OS, unless I miss something.
Ironically, the only configuration line it sets is also wrong.
instead of `$IncludeConfig /etc/rsyslog.d/*.conf` it should be `include(file="/etc/rsyslog.d/*.conf" mode="optional")` since it should be in new format, right?
I would be happy to provide defaults for RHEL, but I have to tel

[2020-05-19 14:14] dhollinger commented on #98
@vchepkov At the time of the writing of this module `include()` wasn't available in rainerscript yet, at least not to my knowledge. Additionally, any "defaults" would be set in the `data/` directory as this module uses module data for defaults rather than `params.pp`

[2020-05-19 14:49] tskirvin commented on #109
For what it's worth, I'm not sure that I'll actually use this anymore.  The module is now sufficiently different than the original saz module as to require a complete refactor of everything syslog.

My short, untested code that I wrote before I realized just *how* different it is:

`define rsyslog::snippet (
  String $content = '',
  Enum['present', 'absent'] $ensure = 'present',
  Variant[Undef,

[2020-05-19 14:54] vchepkov commented on #98
Correct, I was pointing out that lack of defaults in data/ is common for all OS, not just RHEL as this ticket reports

[2020-05-23 15:42] dhollinger commented on #154
@decibelhertz After a discussion with the team, automatically restarting the service on a package change is not a common process followed by most of our users and thus we consider it an anti-pattern.

In the example you linked, the common practice is to have the install chain into the config and the config class(es) notify the service. In that example, the _only_ time the service would be restarte

[2020-05-23 15:42] #154 closed

[2020-05-26 15:08] decibelhertz commented on #154
Yes, I noticed the same thing after submitting my comment.  That said, while I can accept the answer given, I will mention that I think this case was/is a touch different.

This is because rsyslog will generate a startup error if one declares certain modules active in the configuration if that module is not installed.  The fix is to add the needed package(s) to `rsyslog::feature_packages` and rest

[2020-05-27 07:05] #150 closed

[2020-05-27 11:58] dhoppe opened #156 "Refactor acceptance tests"
I think the order of the acceptance tests is broken. For example, I am not sure if Rsyslog is installed correctly after the function ```cleanup_helper``` was executed. Also, the module for Elasticsearch is not installed or loaded at all.
* https://github.com/voxpupuli/puppet-rsyslog/blob/master/spec/spec_helper_acceptance.rb#L13
* https://github.com/voxpupuli/puppet-rsyslog/blob/master/spec/accept

[2020-05-27 12:02] dhoppe commented on #156
This is related to #151.
* https://github.com/voxpupuli/puppet-rsyslog/blob/master/spec/acceptance/actions_spec.rb#L22

The following changes do not solve the problem:
[code]

[2020-05-29 16:01] dhollinger commented on #156
What probably needs to be done first would be to remove the omelasticsearch portion of the actions spec. That test was purely designed to ensure the file was being populated correctly. Not to check if  the corresponding module is correctly installed.

Probably should create new sub-tests focused on testing the installation and configuration of specific external modules.

[2020-09-04 22:02] djtecha opened #159 "Handling permissions on startup"
Anyone have any thoughts about how this could also handle the permissions on the existing files? I know we can set new files to a user and permissions, but on boot the files are created and so you'll get a permission denied until the file gets rotated.

[2020-09-05 09:30] igalic commented on #159
which files and permissions are we talking about, exactly?

[2020-09-07 17:37] djtecha commented on #159
For instance `/var/log/messages` on most modern linux machines is created as 600 and owned by root:root

[2020-09-07 18:55] igalic commented on #159
my Ubuntu laptop's `/etc/rsyslog.conf` has this stanza:

[code]

[2020-09-08 01:04] dhollinger opened #160 "Rename legacy_config defined type and class"
What this module refers to as "legacy_config" is actually what Rsyslog refers to as the `basic` syslog configuration.

Vote for renaming this to match the rsyslog documentation.

[2020-09-09 00:32] djtecha commented on #159
Right but that only effects new files. What about the existing ones?

[2020-09-25 14:15] luoymu commented on #159
how about set "$manage_confdir,"  to true?

[2020-09-26 10:08] igalic commented on #159
what would that do?

[2020-10-13 09:09] amateo opened #164 "Can't create an expressión filter with more than one 'else if'"
Hi,

I need to create a ruleset with a rule with an expression with more than just one `else if`. Somethin like:
[code]

So, my code is like:
[code]
the problem with this hiera is that I have to use the same `else if` key for two different hash elements, so the second overrides the first.

I've been looking for a way to create such an expression, but as the template for an expression is:
[code]
I

[2020-10-13 10:04] amateo commented on #164
I have found that coding the yaml like:
[code]
worarounds the problem, but I can't find a better way

[2020-10-14 16:33] dhollinger commented on #164
I'll take a look at what I can do. I have some ideas.

[2020-10-14 16:41] dhollinger commented on #159
@igalic `$manage_confdir` will tell the module that it will also be managing the Rsyslog configuration directory and its permissions. As of today, it does **not** allow users to change the owner or group on the Rsyslog configuration directory as that (usually) ends up causing issues. The permissions can be set however with the `$rsyslog::confdir_permissions` parameter.

relevant code: https://gith

[2020-10-15 14:27] #159 closed

[2020-10-15 17:43] #164 closed

[2020-10-15 17:56] dhollinger commented on #164
@amateo I pushed an update to master that changes how the expression filter YAML is formatted a little. It is still compatible with current formats, it just is designed to address the issue you ran into. Your workaround gave me the idea to name the conditions rather than try and rely on users putting the `if`, `else if`, and `else` in there.

see https://github.com/voxpupuli/puppet-rsyslog#express

[2020-10-16 05:41] amateo commented on #164
Thank you @dhollinger, I'll try it as soon as the new release is published.

[2020-10-20 10:26] amateo commented on #164
@dhollinger, have you released it in the forge?

[2020-10-23 15:20] dhollinger commented on #164
@amateo Not yet, will be before the end of the day (local time)

[2020-10-26 19:22] dhollinger commented on #164
@amateo The release should be live now

[2020-10-27 07:38] amateo commented on #164
Ok. Thank you.

[2020-11-02 00:28] dhollinger commented on #147
@AlexSamad There are now puppet dsl examples in the README

[2020-11-02 00:28] #147 closed

[2020-11-06 19:19] rj667 commented on #109
This is only one possible solution.
Another solution would be to create the defined resource type `rsyslog::snippet` that just calls `rsyslog::component::custom_config` with these parameters.
Any feedback would be appreciated.

[2020-11-10 15:34] #109 closed

[2020-11-26 00:43] pcworld opened #172 "Purging config files does not restart rsyslogd"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.10.0
- Ruby: 2.5.5p157
- Distribution: Debian 10
- Module version: 5.0.1

## How to reproduce (e.g Puppet code you use)

rsyslog with mostly default settings (in particular `purge_config_files` is true).

## What are you seeing

When the puppet modules purges config files in /etc/rsyslog.d/, it does not restart rsyslogd.

[2020-12-14 15:55] logicminds opened #174 "file backup is not working correctly when existing files exist"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.14, PE 2019.4
- Ruby: 2.4
- Distribution: RHEL 7
- Module version: 5.1.0

## How to reproduce (e.g Puppet code you use)
In site.pp have the following configuration.

[code]
## What are you seeing
Puppet backs up this file and places in same directory.  Puppet then backs up the same file and appends another '.old' extension

[2021-01-04 04:28] STOIE opened #175 "deprecated Object#=~ is called on - it always returns nil (Puppet 7.0+)"
- Puppet: 7+
- Ruby: ?
- Distribution: CentOS 8
- Module version: 5.1.0

## How to reproduce (e.g Puppet code you use)
`include ::rsyslog`

## What are you seeing
[code]

## What behaviour did you expect instead
`no errors`

[2021-01-06 00:34] dhollinger commented on #175
@STOIE This module doesn't provide a fact for Rsyslog. Are you sure this is the correct module? Are you using this with `saz/rsyslog`?

[2021-01-06 02:23] STOIE commented on #175
@dhollinger very much apologise, I just went back and confirmed - I've gone to the wrong place, I'm using simp-rsyslog :eek:

Sorry to waste your time, I'll close this one immediately.

[2021-01-06 02:23] #175 closed

[2021-01-06 16:18] dhollinger commented on #174
@logicminds Sorry for the delay on this. I've been fairly busy. I'll take a look at this today or tonight and get it taken care of

[2021-01-26 17:59] dhollinger commented on #174
@logicminds This is an issue related to the `File` resources use of `purge` and `backup` not intending to be mixed. Currently the Rsylsog module purges the `/etc/rsyslog.d` directory if the directory is managed by Puppet. As such, since the files, including backups, are being modified, Puppet sees this and backs the files up again and replaces them with an appended `.old` extension after the purge

[2021-01-26 20:56] dhollinger commented on #174
@logicminds You need to set the value of `$rsyslog::purge_config_files` to `false` to get it to backup files correctly.

[2021-01-26 20:56] #174 closed

[2021-01-26 23:24] alexjfisher commented on #174
I think you can also unset any defaults from site.pp in your rsyslog profile.

[code]
should do it.

Or possibly after you've declared the class, you can [modify the file resource.](https://puppet.com/docs/puppet/5.5/lang_resources_advanced.html#amending-attributes-with-a-resource-reference)

[code]

Or if you use a puppetserver based filebucket for backup you won't have this issue either.

[2021-01-26 23:53] alexjfisher commented on #174
Also see https://tickets.puppetlabs.com/browse/PUP-1147

[2021-01-28 23:03] #172 closed

[2021-08-31 08:52] AmishP opened #189 "Support for Puppet 7+"
Hi,

I would like to use this module with Puppet 7.10.0.

Are there any plans to update this to work with it or know of any which would work with Puppet 7.10.0?

[2021-11-24 12:19] mungo312 commented on #98
Is there any progress for this topic ? Is there any interest from the maintainers to get working defaults ?

[2021-12-01 16:22] andyholdaway commented on #189
I've used it for puppet 7.11 today on CentOS 7 - no issues so far.

[2021-12-01 16:26] andyholdaway commented on #98
The examples above worked for me - had to change
`rsyslog::client`
to
`rsyslog::config`
but it works for me using the latest version

[2022-03-16 09:27] dploeger opened #193 "Question about OS-default configurations"
Just a clarification for me here.

Do I see this correctly, that the module does not include the OS' default configuration that you'd get when you just install rsyslog? I see that /etc/rsyslog.conf and /etc/rsyslog.d is replaced (if you not set purge_config_files to false), but the configuration from these files isn't prevailed.

So if we'd want to use the module on our network, we'd have to inclu

[2022-03-22 18:17] leifmadsen opened #194 "[release] New tag to pull in latest changes"
I'd like to request a new tag be made to pull in latest changes since the last tag was created in February 2021.

[2022-04-08 08:10] nilo72 opened #196 "Using more than one config file in /etc/rsyslog.d/"
As I understand it right everything is written to the rsyslog:target_file.

Do you plan a feature to split a rsyslog configuration into more than one config file?

[2022-04-11 18:23] jhoblitt commented on #194
@bastelfreak Can we pull the trigger?

[2022-04-21 17:22] bschonec commented on #196
Does #98 address your question?

[2022-05-09 16:14] kyrian666 opened #199 "Config should be validated as correct before attempting to restart rsyslog."
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 7.x, 3.x
- Ruby: Not sure.
- Distribution: Ubuntu 20.04 / RHEL.
- Module version: 0.5.1

## How to reproduce (e.g Puppet code you use)

Try and configure an rsyslog module that does not exist for your distribution in the rsyslog config via hiera (because the structure of the Debian-derived and Redhat-derived packages differs

[2022-06-22 12:46] bschonec opened #202 "Configuration files do not identify themselves as "Managed by Puppet, do not edit.""
/etc/rsyslog.d/ files do not have "Managed by Puppet" or similar at the beginning of the file to identify them as being Puppet managed.

Shouldn't they have that notice like (pretty much) every other Puppet managed file resource?

[2022-07-19 11:42] bschonec opened #203 "Create option to configure action() on a single line."
## What are you seeing

CIS/STIG products that audit rsyslog configurations use regular expression checks that expect the action() configuration to be on a single line.  Regex such as:

`^\s*([^#]+\s+)?action\(([^#]+\s+)?\btarget="?[^#"]+"?\b
`
and

`^\s*\*\.\*\s+@
`
will fail even if the configuration is correct but spans multiple lines.  For example, the following configuration will fail the reg

[2022-09-26 15:18] itinneed2022 opened #206 "How do I use this?"
I've been trying to write a couple of custom config files using this module and I can't seem to figure out how to reference my hiera data correctly. I'm trying to configure my

In my rsyslog.yaml file I have:

[code]

And in my custom_rsyslog.pp file I have:

[code]

This does nothing. How do I reference my hiera config in my profile?